{% set title = title ?? entry.title ?? null %}

{% if title %}
	<header class="relative bg-cover bg-white fl:py-8">
		<div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
			<h1>{{ title }}</h1>
		</div>
	</header>
{% endif %}
