{# ======================================
FINAL FALLBACK for generic pages like /terms /privacy etc,
but also provides base skeleton to inherit from for other entries
========================================= #}

{% extends '_layout' %}

{# =============================================================================== #}

{% set title = entry.titleTag ? entry.titleTag : entry.title %}
{% set metaDesc = entry.metaDesc ?? null %}
{% set noIndex = entry.noIndex ?? null %}

{% set ogTitle = entry.ogTitle ?? null %}
{% set ogDesc =  entry.ogDesc ?? null %}
{% set ogImg = entry.ogImage.exists() ? entry.ogImage.one() : null %}
{% set ogType = entry.ogType ?? null %}
{% set twitterCreator = entry.twitterCreator ?? null %}
{% set twitterCard = entry.twitterCard ?? null %}

{# =============================================================================== #}

{% block content %}
	<article>
		<div class="max-w-screen-xl mx-auto my-4 px-4 sm:px-6 lg:px-8">
			<h1>{{ title }}</h1>
		</div>

		{% set blocks = entry.bodyBuilder.with([]).all() %}
		{% if blocks|length %}
			{% include '_partials/bodyBuilder.twig' with { blocks:blocks } %}
		{% endif %}
	</article>
{% endblock %}
